*{
    font-family: Montserrat;
    font-weight:500;
    max-width:1366px;
    margin: 0 auto;
    box-sizing: border-box;
}

:root{
    --white-color: #fff;
    --black-color: #060606;
    --orange-color: #FFA800;
    --blue-color: #2F4858;
    --grey-color: rgba(196, 196, 196, 0.4);
    --light-orange-color: #FFCB66;
}

.btn {
    background-color: var(--orange-color);
    color: var(--white-color);
    border: none;
    font-size: 18px;  
}

.btn-choose {
    height: 50px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-send {
    height: 62px;
    border-radius: 31px;
    padding-left: 62px;
    padding-right: 62px;
}

header {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}

nav {
    width: 100%;
    max-width: 1366px;
    height: 92.51px;
    display: flex;
    justify-content: space-between;
    position:relative;
    align-items: center;
    z-index: 2;
}

nav ul {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 51px;
    right: 52px;
    left: 305px;
}

nav ul li {
    text-align: center;
}

nav ul li:first-child {
    margin-left: 0;
    text-align: left;
}

nav ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    text-align: right;
    margin-left: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--black-color);
    white-space: nowrap;
}

nav .toggle-btn, nav .toggle-btn-tablet {
    display: none;
    color: black;
}

@media (max-width:1200px) {
    nav ul li a {
      font-size: 16px;
    }
}

.black-logo {
    position: absolute;
    width: 100%;
    max-width: 159px;
    max-height: 146px;
    height: auto;
    left: 62px;
    top: 0;
    z-index: 4;
}
  
.black-logo img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.vector-navbar {
    position: absolute;
    top: 85.07px;
    left: 0;
    width: 100%;
    max-width: 1366px;
    height: 34.93px;
    z-index: 3;
 }
  
.vector-navbar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-section {
    position: relative;
    height: 100%;
    max-height: 726px;
    width: 100%;
    max-width: 1366px;
    left: 0px;
    overflow: hidden;
}

.hero-image {
    position:relative;
    width: 100%;
    max-height: 722px;
    margin-top: -43px;
}

.play-button {
    position: absolute;
    margin-top: -23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86px;
    height: 83px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
}

.play-button img {
    display: block;
    width: 100%;
    height: auto;
}

.dropdown-menu {
    display: none;
}

@media (max-width: 1160px) {
    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 50px;
        height: 0;
        max-width:768px;
        width: 100%;
        background-color: var(--white-color);
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .dropdown-menu.open {
        height: 1000px;
    }      

    .dropdown-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 140px;
        margin-bottom: 40px;
    }

    .dropdown-menu ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-right: 44px;
        margin-left: 44px;
    }

    .dropdown-menu ul li.active a {
        border-bottom: 2px solid var(--orange-color);
        font-weight: bold;
    }

    .dropdown-menu li {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu li a {
        text-decoration: none;
        font-size: 24px;
        color: var(--black-color);
        white-space: nowrap;
    }

    .dropdown-menu li.active a {
        border-bottom: 2px solid var(--orange-color);
        font-weight: bold;
    }
}

@media (max-width: 320px) {
    .dropdown-menu {
        position: absolute;
        right: 0;
        top: 50px;
        height: 0;
        width:320px;
        background-color: var(--white-color);
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .dropdown-menu.open {
        height: 568px;
    }      
    
    .dropdown-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 43px;
      }
    
    .dropdown-menu ul li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .dropdown-menu ul li.active a {
        border-bottom: 2px solid var(--orange-color);
        font-weight: bold;
    }
    
    .dropdown-menu li {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown-menu li a {
        text-decoration: none;
        font-size: 18px;
        color: var(--black-color);
        white-space: nowrap;
    }
    
    .dropdown-menu li.active a {
        border-bottom: 2px solid var(--orange-color);
        font-weight: bold;
    }
}

.about {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    max-width: 654px;
}

.about p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin:0;
}

@media (max-width: 1160px) {
    nav ul {
        display: none;
    }

    nav .toggle-btn-tablet {
        display: block;
        order: 3; 
        /* margin-right: 80px;  */
        margin-right: 10.44%; 
        width:24px;
        height: 20px;
    }

    .hero-image {
        /* position:relative;
        width: 100%;
        max-height: 722px; */
        margin-top: 0;
    }

    .about {
        display: flex;
        justify-content: center;
        padding-top: 150px;
        margin-bottom: 150px;
        width: 100%;
        max-width: 608px;
    }
}

@media (max-width: 320px) {
    nav .toggle-btn-tablet {
        display: none;
    }

    nav .toggle-btn {
        display: block;
    }

    .about {
        padding-top: 80px;
        margin-bottom: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .about p {
        font-size: 12px;
        line-height: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 1160px) {

    nav {
        height: 74.01px;
    }

    .dropdown-menu {
        display: block;
        z-index:3;
    }

    .black-logo {
        max-width: 128px;
        max-height: 118px;
    }

    .vector-navbar {
        top: 68.01px;
        height: 27.94px;
    }
}

@media (max-width: 760px) {
    .play-button {
        height: 68px;
        width: 70px;
    }
}

@media (max-width: 560px) {
    .play-button {
        height: 58px;
        width: 60px;
    }
}

@media (max-width: 320px){
    nav .toggle-btn {
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 20px;
    }

    .play-button {
        height: 48px;
        width: 50px;
    }
}


.images {
    position: relative;
    height: 100%; 
    max-height: 398px;
}

.picture-up {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 55px; 
    width: 100%;
    max-width: 1366px;
    z-index: 2; 
}

.picture-up img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    max-height: 55px; 
    width: 100%;
    max-width: 1366px; 
    z-index: 2;
}

.picture-bottom img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 768px) {
    .picture-bottom, .picture-up {
        max-height: 31px;
    }
}

@media only screen and (max-width: 320px) {
    .picture-bottom, .picture-up {
        max-height: 24px;
    }
}

.image-grid {
    height: 100%;
    z-index: 0;
    max-width: 1366px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.col-1, .col-2, .col-3, .col-4 {
    display: inline-block;
}

.col-1 {
    max-width: 328px;
    max-height: 355px;
    width: 100%;
    height: auto;
}
  
.col-2 {
    max-width: 334px;
    max-height: 364px;
    width: 100%;
    height: auto;
}
  
.col-3 {
    max-width: 298px;
    max-height: 367px;
    width: 100%;
    height: auto;
}
  
.col-4 {
    max-width: 406px;
    max-height: 383px;
    width: 100%;
    height: auto;
}

.col-1 img, .col-2 img, .col-4 img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    gap: 0;
}

.col-3 img {
    display: flex;
    width: 100%;
    height: 50%;
    object-fit: cover;
    gap: 0;
}

.col-1 {
    margin-top:14px;
}

.col-2, .col-3 {
    margin-top: 19px;
}

.image-grid-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .col-1 {
        margin-top:8px;
    }
    
    .col-2, .col-3 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 320px) {

    .image-grid {
        display: none;
    }

    .image-grid-mobile {
        display: flex;
        flex-wrap: wrap;
    } 

    .row-1, .row-2 {
        display: flex;
    }

    .col-1  {
        max-width: 168px;
   
    }

    .col-1 img, .col-2 img, .col-3 img, .col-4 img {
        width:100%;
    }
      
    .col-2  {
        max-width: 167px;
    }

    .col-3  {
        max-width: 136px;
    }

    .col-4  {
        max-width: 184px;
    }

    .col-1, .col-2 {
        margin-top:0;
    }
    
    .col-3 {
        margin-top: 7px;
    }
}

.choice {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}

.left {
    margin-left: 168px;
}

.right {
    margin-right: 168px;
}

.left, 
.right {
    width: 50%;
    text-align: center;
}

.left h3, .right h3 {
    font-family: Oswald;
    font-size: 24px;
    height: 29px;
    line-height: 35.57px;
}

.btn-choose {
    margin-top:50px;
}

@media only screen and (max-width: 768px) {

    .choice {
        margin-top: 150px;
    }

    .left {
        margin-left: 80px;
    }
    
    .right {
        margin-right: 80px;
    }

    .left h3, .right h3 {
        font-size: 18px;
        line-height: 27px;
        max-width: 233px;
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    .choice {
        flex-direction: column;
        margin-top: 120px;
    }
  
    .left,
    .right {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        text-align: center;
    }
  
    .right {
        padding-top: 80px;
    }

    .left h3,
    .right h3 {
        font-size: 18px;
        height: 29px;
        line-height: 26.68px;
    }

    .right h3{
        padding-left: 20px;
        padding-right: 20px;
        height: 55px;
    }
  
    .btn-choose {
        margin-top: 30px;
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    max-width: 612px;
    box-sizing: border-box;
}

.contact-form h3 {
    font-family: Oswald;
    font-size: 30px;
}

.contact-form form {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

input[id="name"] {
    max-width: 270px;
    width: 100%;
    padding-left: 12px;
    padding-top: 13px;
    padding-right: 14px;
    padding-bottom: 10px;
    height: 43px;
}

input[id=email] {
    width: 100%;
    max-width: 270px;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 10px;
    height: 43px;
}

input[id=name] {
    margin-right: 20px;
}

input[id=phone] {
    max-width:573px;
    width: 100%;
    padding-left: 12px;
    padding-top: 13px;
    padding-right: 27px;
    padding-bottom: 10px;
    margin-top:15px;
    margin-bottom:15px;
    height: 43px;
}

input[type=text] {
    background-color: var(--grey-color);
    border-radius: 6px;
    border: none;
}

.contact-form ::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: var(--blue-color);
    letter-spacing: -0.015em;
}

textarea {
    width: 100%;
    max-width:573px;
    height: 232px;
    margin: 0;
    border: none;
    border-radius: 6px;;
    background-color: var(--grey-color);
    font-size: 18px;
    font-weight: 400;
    color: var(--blue-color);
    letter-spacing: -0.015em;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 13px;
    resize: none;
}

form p {
    max-width: 573px;
    width: 100%;
    height: 25px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: var(--blue-color);
}

.custom-checkbox {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #e7e7e7;
    margin-right: 20px;
    align-self: flex-start;
}
  
.custom-checkbox:checked {
    background-color: var(--blue-color);
}
  
.custom-checkbox:checked:after {
    content: "\2714";
    font-size: 12px;
    color: white;
    position: absolute;
    top: 2px;
    left: 4px;
}

.agree {
    max-width: 572px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.agree label {
    flex-grow: 1;
    max-width: calc(100% - 36px);
    margin: 0;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    color: var(--blue-color);
}

.btn-send {
    margin-top: 50px;
    margin-bottom: 156px;
    align-self: center;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    form p {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 590px) {
    .contact-form form {
        align-items: center;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    input[id="name"] {
        width:100%;
        max-width:550px;
        height: 35px;
        padding-left: 11.35px;
        padding-bottom: 8.14px;
        padding-right: 13.24px;
        padding-top: 10.58px;
        margin:0;
        margin-bottom: 10px;
    }

    input[id="email"],
    input[id="phone"] {
        width:100%;
        max-width:550px;
        height: 35px;
        padding-left: 12px;
        padding-right: 27px;
        margin-top:0;
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
        max-width:550px;
        height: 150px;
        margin: 0;
        font-size: 14px;
        padding-top: 8px;
        padding-right: 0px;
        resize: none;
    }
}

@media screen and (max-width: 320px) {

    .contact-form {
        margin-top: 120px;
    }
 
    .contact-form h3 {
        text-align: center;
        font-size: 24px;
    }

    .contact-form form {
        align-items: center;
        margin: 0;
        margin-top: 30px;
    }

    .contact-form ::placeholder {
        font-size: 14px;
    }

    textarea {
        width: 100%;
        max-width:280px;
        height: 150px;
        margin: 0;
        font-size: 14px;
        padding-top: 8px;
        padding-right: 0px;
        resize: none;
        margin-left: 20px;
        margin-right: 20px;
    }
  
    input[type="text"] {
        margin: 0;
    }

    br {
        display: none;
    }
  
    input[id="name"] {
        width:100%;
        max-width:280px;
        height: 35px;
        padding-left: 11.35px;
        padding-bottom: 8.14px;
        padding-right: 13.24px;
        padding-top: 10.58px;
        margin:0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    input[id="email"],
    input[id="phone"] {
        width:100%;
        max-width:280px;
        height: 35px;
        padding-left: 12px;
        padding-right: 27px;
        margin-top:0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    form p {
        max-width: 280px;
        width: 100%;
        height: 18px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        color: var(--blue-color);
    }
   
    .agree {
        margin-left: 20px;
        margin-right: 20px;
    }
  
    .agree label {
       font-size: 12px;
    }

    .btn-send {
        display: block;
        margin-bottom: 120px;
        height: 48px;
    }    
}

.supports {
    background-color: var(--light-orange-color);
    height: 100%;
    max-height: 450px;
    width:100%;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
}

.supports h3 {
    margin-top: 100px;
    margin-bottom: 69px;
    height: 29px;
    width: 100%;
    font-family: Oswald;
    font-size: 24px;
    text-align: center;
    color: var(--blue-color)
}

.supports-list {
    width: 100%;
    max-width: 1366px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

.supports-list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allow the divs to grow to fill up the remaining space */
}

.supports-list img {
    max-width: 100%;
}

.panda {
    margin: 0;
}

.s, .m {
    margin: 0;
}

.teikums {
    margin:0;
}

.linearis {
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .teikums {
        margin:0;
        margin-left: 168px;
    }
}

@media screen and (min-width: 1200px) {
    .linearis {
        margin:0;
        margin-right: 168.23px;
    }
}

@media screen and (min-width: 768px){
    .supports h3 {
        margin-top: 50px;
        margin-bottom: 36px;
    }
    .supports-list {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 460px) {
    .supports-list {
        flex-wrap: wrap;
        padding: 0;
    }

    .supports h3 {
        margin-top: 83px;
        margin-bottom: 64px;
    }
 
    .supports-list > div {
        width: 50%;
        margin-bottom: 40px;
        box-sizing: border-box;
    }
}

.vector-footer {
    left: 0;
    width: 100%;
    max-width: 1366px;
    height: 59.75px;
    z-index: 2;
}
  
.footer-container {
    width: 100%;
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-color);
    color: var(--white-color);
}

.first-column, .footer-navbar, .company-details, .contacts-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the divs to grow to fill up the remaining space */
}

.first-column {
    margin:0;
    margin-left: 62px;
    margin-right: 80px;
    margin-top: 10px;
    width: 100%;
    max-width: 182px;
}

@media screen and (max-width: 1268px) {
    .first-column {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1168px) {
    .first-column {
        margin-right: 20px;
    }
}

.footer-logo .golden-logo-normal {
    max-width: 182px;
    width: 100%;
    height: auto;
    margin: 0;
}

.golden-logo-retina {
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .golden-logo-normal {display: none;}
    .golden-logo-retina {
        display: block;
        max-width: 182px;
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.copyright {
    margin: 0;
    margin-bottom: 13px;
    margin-top: 70px;
    height: 38px;
    width: 182px;
    text-align: left;
}

.footer-navbar {
    margin-top: 11.68px;
    margin-bottom: 56px;
    width: 100%;
    max-width: 179px;
}

.footer-navbar ul {
    list-style: none;
    padding: 0;
}

.footer-navbar ul li {
    padding-bottom: 21px;
}

.footer-navbar ul li a {
    color: var(--white-color);
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
}

.company-details {
    margin-top: 6.68px;
    margin-bottom: 175px;
    width: 100%;
    max-width: 279px;
    display: inline-block;
}

.contacts-section {
    margin-top: 6.68px;
    margin-right: 62px;
    display: inline-block;
    width: 100%;
    max-width: 279px;
}

.contacts-section p {
    text-align: right;
}

.social {
    margin-top: 52px;
    margin-bottom: 51px;
    text-align: right;
}

.social a {
    padding-left: 29px;
}

.contacts-section .p-small {
    text-align: right;
}

.footer-container p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

p.p-small {
    font-size: 14px;
    line-height: 17px;
}

p.p-big {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 22px;
}

.footer-mobile, .footer-tablet {
    display: none;
}

@media screen and (max-width: 1068px) {

    .vector-footer {
      display: none;
    }
   
    .footer-mobile, .footer-desktop {
        display: none;
    }
    .footer-tablet{
        display: block;
    } 

    .footer-container {
        display:flex;
        flex-wrap: wrap;
    }

    .first, .second, .third {
        display: flex;
        width:100%;
        justify-content: space-between;
    }

    .first-left, .first-right, .second-left, .second-right{
        flex-basis: 50%;
    }

    .third-left, .third-right {
        flex-basis: 70%;
    }

    .third-right {
        flex-basis: 30%;
    }
    


    .first-left, .second-left, .third-left {
        text-align:left;
        margin-left: 80px;
    }

    .first-right, .second-right, .third-right {
        text-align:right;
        margin-right: 80px;
    }

    .first-left {
       margin-top:44px;
    }

    .first-right {
        margin-top: 92px;
    }

    .footer-logo .golden-logo-normal {
        max-width: 162px;
        width: 100%;
        height: auto;
        margin: 0;
    }
     
    .golden-logo-retina {
        display: none;
    } 
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .golden-logo-normal {display: none;}
        .golden-logo-retina {
            display: block;
            max-width: 162px;
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    .credentials a {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        color: var(--white-color);
    }

    .second-left {
        margin-top:30px;
    }
 
    .social {
        margin: 0;
    }

    .second-right {
         margin-top: 35px;
    }

    .second-left p {
        font-size: 24px;
        line-height: 29px;
    }

    .third-left, .third-right {
        /* margin: 0; */
        margin-top: 35px;
        font-size: 16px;
    }

    .copyright {
        max-width: 395px;
        width: 100%;
        margin: 0;
    }

    .third-right{
        max-width: 176px;
        width: 100%;
        margin-left: 0;
    }

    /* .third-left {
        max-width: 395px;
        width: 100%;
        margin-right: 0;
    } */

    .privacy p {
        font-size: 16px;
        text-align: right;
    }

    p.p-small {
        font-size: 16px;
    }
}

@media only screen and (max-width: 668px) {
    .first-left, .second-left, .third-left {
        margin-left: 40px;
    }

    .first-right, .second-right, .third-right {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 568px) {
    .first-left, .second-left, .third-left {
        margin-left: 20px;
    }

    .first-right, .second-right, .third-right {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 528px) {
    .footer-logo {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-logo .golden-logo-normal {
        max-width: 120px;
        width: 100%;
        max-height: 120px;
        height: auto;
        margin-top: 43px;
        margin-left: 0;
    }
 
    .golden-logo-retina {
        display: none;
    } 

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .golden-logo-normal {display: none;}
        .golden-logo-retina {
            display: block;
            max-width: 120px;
            width: 100%;
            height: auto;
            margin: 0;
            margin-top: 43px;
            margin-left: 0;
        }
    }

    .footer-container p {
        font-size: 14px;
    }

    .second-left p {
        font-size: 20px;
    }

    .credentials a {
        font-size: 16px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 428px) {
    .footer-logo .golden-logo-normal {
        max-width: 100px;
        width: 100%;
        max-height: 100px;
        height: auto;
        margin-top: 43px;
        margin-left: 0;
    }
     
    .golden-logo-retina {
        display: none;
    } 
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .golden-logo-normal {display: none;}
        .golden-logo-retina {
            display: block;
            max-width: 100px;
            width: 100%;
            height: auto;
            margin: 0;
            margin-top: 43px;
            margin-left: 0;
        }
    }

    .second-left p {
        font-size: 18px;
    }

   .footer-container p {
        font-size: 12px;
    }
}

/* Footer for mobile starting from this size: */
@media only screen and (max-width: 350px) {
    .footer-desktop, .footer-tablet {
        display: none;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
    }

    .vector-footer {
        left: 0;
        width: 100%;
        max-width: 320px;
        height: 30px;
        z-index: 2;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-logo {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .footer-logo .golden-logo-normal {
        max-width: 100px;
        width: 100%;
        max-height: 100px;
        height: auto;
        margin-top: 43px;
        margin-left: 20px;
    }
     
    .golden-logo-retina {
        display: none;
    } 
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        .golden-logo-normal {display: none;}
        .golden-logo-retina {
            display: block;
            max-width: 100px;
            width: 100%;
            height: auto;
            margin: 0;
            margin-top: 43px;
            margin-left: 20px;
        }
    }

    .contacts {
        margin-top: 25px;
        margin-left: 20px;
        justify-content: left;
    }

    .contacts p {
        font-size: 12px;
        margin-bottom: 10px;
        height: 16px;
        line-height: 14.63px;
    }

    .contacts .p-big {
        font-size: 18px;
        margin-bottom: 30px;
        height: 24px;
        line-height: 21.94px;
    }

    .credentials {
        margin-left: 20px;
    }

    .credentials a {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: var(--white-color);
    }

    .social {
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 20px;
    }

    .social a {
        padding: 0;
        padding-right: 29px;
    }

    .copyright {
        margin: 0;
        margin-bottom: 5px;
        margin-left: 20px;
        width: 100%;
        height: 16px;
    }

    .copyright p {
        margin-bottom: 5px;
        font-size: 11px;
        line-height: 13.41px;
        height: 16px;
        text-align: left;
    }

    .privacy-mobile {
        margin-left: 20px;
        width: 100%;
    }

    .privacy-mobile p{
        font-size: 11px;
        line-height: 13.41px;
        height: 16px;
        text-align: left;
    }
}
